<div style="margin: auto; max-width: 1000px; margin-top:50px">
   <input [(ngModel)]="id" placeholder="id">
    	 <input [(ngModel)]="name" placeholder="name">
    	 <input [(ngModel)]="email" placeholder="email">
    	 <input [(ngModel)]="number" placeholder="number">
    	 <button class="btn btn-default" (click) = "lecturerTable.reloadItems();">Search</button>
    <data-table id="lecturers-grid"
        headerTitle="lecturers"
        [items]="lecturers"
        [itemCount]="lecturerCount"
        (reload)="reloadLecturers($event)"

        [limit]="8"
        [sortBy]="'name'"
        [sortAsc]="true"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="false"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
         
         <data-table-column
            [property]="'id'"
            [header]="'Id'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'email'"
            [header]="'Email'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'number'"
            [header]="'Phone number'"
            [sortable]="true">
        </data-table-column>
    </data-table>
    <div>
    <div>
        <b>Selected:</b>
        <span [textContent]="lecturerTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of lecturerTable.selectedRows">
        <span [textContent]="selected.item.name"></span>
    </div>
  </div>
</div>
