<div style="margin: auto; max-width: 1000px; margin-top:50px">
   <input [(ngModel)]="id" placeholder="id">
    	 <input [(ngModel)]="name" placeholder="name">
    	 <button class="btn btn-default" (click) = "groupTable.reloadItems();">Search</button>
         <button class="btn btn-default" (click) = "createGroup();">Create</button><br/>
    <data-table id="groups-grid"
        headerTitle="groups"
        [items]="groups"
        [itemCount]="groupCount"
        (reload)="reloadGroups($event)"

        [limit]="8"
        [sortBy]="'name'"
        [sortAsc]="true"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="false"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
         
         <data-table-column
            [property]="'id'"
            [header]="'Id'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true">
        </data-table-column>
    </data-table>
    <div>
    <div>
        <b>Selected:</b>
        <span [textContent]="groupTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of groupTable.selectedRows">
        <span [textContent]="selected.item.name"></span>
    </div>
    <button class="btn btn-default" (click) = "viewGroup();" [disabled]="!isOneSelected()">View</button>
      <button class="btn btn-default" (click) = "editGroup();" [disabled]="!isOneSelected()">Edit</button>
      <button class="btn btn-default" (click) = "deleteGroup();" [disabled]="!isManySelected()">Delete</button>
  </div>
</div>
