<div *ngIf="checkPageMode(); then edit else create"></div>
<ng-template #edit>
  <div class="container-fluid">
    <h2>Edit lection</h2>
      <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-3">Pair: {{getPair()}}</div>
    </div>
    <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-3">Name: {{getName()}}</div>
      <div class="col-md-4">
        <input [(ngModel)]="name" placeholder="name..." [disabled]="isViewMode()">
      </div>
    </div>
    <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-3">Course: {{getCourse()}}</div>
      <div class="col-md-4">
        <p-dropdown [options]="courses" [(ngModel)]="selectedCourse" [disabled]="isViewMode()" [filter]="true"></p-dropdown>
      </div>
    </div>
    <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button class="btn btn-default" [disabled]="isEditMode()" (click)="setEditMode();">edit</button>
        <button class="btn btn-default" [disabled]="isViewMode()" (click)="setViewMode(); updateLection();">save</button>
        <button class="btn btn-warning" (click)="goToRegistry();">Back</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #create>
  <div class="container-fluid">
    <h2>Create lection</h2>
    <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <input [(ngModel)]="name" placeholder="name...">
        <br/>
      </div>
    </div>
    <div class="row create-row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button class="btn btn-default" (click)="createLection();">create</button>
        <button class="btn btn-warning" (click)="goToRegistry();">Back</button>
      </div>
    </div>
  </div>
</ng-template>
