<div style="margin: auto; max-width: 1000px; margin-top:50px">
   <input [(ngModel)]="id" placeholder="id">
    	 <input [(ngModel)]="pair" placeholder="pair">
    	 <button class="btn btn-default" (click) = "markTable.reloadItems();">Search</button>
    <data-table id="marks-grid"
        headerTitle="marks"
        [items]="marks"
        [itemCount]="markCount"
        (reload)="reloadMarks($event)"

        [limit]="8"
        [sortBy]="'name'"
        [sortAsc]="true"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="false"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
         
         <data-table-column
            [property]="'id'"
            [header]="'Id'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'pair'"
            [header]="'Pair name'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'mark'"
            [header]="'Mark'">
        </data-table-column>
    </data-table>
    <div>
    <div>
        <b>Selected:</b>
        <span [textContent]="markTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of markTable.selectedRows">
        <span [textContent]="selected.item.name"></span>
    </div>
  </div>
</div>
