<div style="margin: auto; max-width: 1000px; margin-top:50px">
   <input [(ngModel)]="id" placeholder="id">
    	 <input [(ngModel)]="name" placeholder="name">
    	 <input [(ngModel)]="course" placeholder="course">
    	 <button class="btn btn-default" (click) = "lectionTable.reloadItems();">Search</button>
          <button class="btn btn-default" (click) = "createLection();">Create</button><br/>
    <data-table id="lections-grid"
        headerTitle="Lections"
        [items]="lections"
        [itemCount]="lectionCount"
        (reload)="reloadLections($event)"

        [limit]="8"
        [sortBy]="'name'"
        [sortAsc]="true"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="false"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
         
         <data-table-column
            [property]="'id'"
            [header]="'Id'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'course'"
            [header]="'Course name'"
            [sortable]="true">
        </data-table-column>
    </data-table>
    <div>
    <div>
        <b>Selected:</b>
        <span [textContent]="lectionTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of lectionTable.selectedRows">
        <span [textContent]="selected.item.name"></span>
    </div>
    <button class="btn btn-default" (click) = "viewLection();" [disabled]="!isOneSelected()">View</button>
      <button class="btn btn-default" (click) = "editLection();" [disabled]="!isOneSelected()">Edit</button>
      <button class="btn btn-default" (click) = "deleteLection();" [disabled]="!isManySelected()">Delete</button>
  </div>
</div>
