<p-growl></p-growl>
<div *ngIf="checkPageMode(); then edit else create"></div>
<ng-template #edit>
  <div class="container-fluid">
    <h2>Edit course</h2>
    <form [formGroup]="courseEditForm">
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-3">Lecturer: {{getLecturer()}}</div>
        <div class="col-md-4">
          <p-dropdown [options]="lecturers" formControlName="lecturer" [readonly]="isViewMode()" [filter]="true"></p-dropdown>
        </div>
      </div>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-3">Name: {{getName()}}</div>
        <div class="col-md-4">
          <input formControlName="name" placeholder="max 45 characters" [readonly]="isViewMode()">
        </div>
        <div class="col-md-3">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!courseEditForm.controls['name'].valid&&courseEditForm.controls['name'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="courseEditForm.controls['name'].errors['maxlength']">Too much data</span>
          </div>
        </div>
      </div>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-3">Description: {{getDescription()}}</div>
        <div class="col-md-4">
          <textarea formControlName="description" [readonly]="isViewMode()" placeholder="max 100 characters"></textarea>
        </div>
        <div class="col-md-3">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!courseEditForm.controls['name'].valid&&courseEditForm.controls['name'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="courseEditForm.controls['name'].errors['maxlength']">Too much data</span>
          </div>
        </div>
      </div>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <button class="btn btn-default" [disabled]="isEditMode()" (click)="setEditMode();">edit</button>
          <button class="btn btn-default" type="submit" [disabled]="isViewMode()&&courseEditForm.valid" (click)="setViewMode(); updateCourse();">save</button>
          <button class="btn btn-warning" (click)="goToRegistry();">Back</button>
        </div>
      </div>
    </form>
  </div>
  <h3>Course lections</h3>
  <p-table #crstbl [columns]="cols" [value]="courseLections" [(selection)]="selectedCourseLections" dataKey="id" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 2.25em"></th>
        <th *ngFor="let col of columns">
          <input pInputText type="text" (input)="crstbl.filter($event.target.value, col.field,  col.method)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <ul>
        <li *ngFor="let lection of selectedCourseLections" style="text-align: left">
          {{lection.id + ' - ' + lection.name + ' - ' + lection.pair}}
        </li>
      </ul>
    </ng-template>
  </p-table>
  <div class="justify-content-a ound col-md-6" style="display: flex; align-items: center; justify-content: space-evenly; width: 100%; padding: 1em;">
    <p-button styleClass="ui-button-info" (click)="addLectionToCourse();" [disabled]="!isLectionsWithoutCourseSelected()" icon="fa fa-angle-up" style="font-size:2em"></p-button>
    <p-button styleClass="ui-button-info" (click)="applyChanges();" label="Apply" style="font-size:1.5em"></p-button>
    <p-button styleClass="ui-button-info" (click)="removeLectionFromCourse();" [disabled]="!isCourseLectionsSelected()" icon="fa fa-angle-down" style="font-size:2em"></p-button>
  </div>
  <h3>Available lections</h3>
  <p-table #lctnstbl [columns]="cols" [value]="lectionsWithoutCourse" [(selection)]="selectedLectionsWithoutCourse" dataKey="id" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 2.25em"></th>
        <th *ngFor="let col of columns">
          <input pInputText type="text" (input)="lctnstbl.filter($event.target.value, col.field,  col.method)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <ul>
        <li *ngFor="let lection of selectedLectionsWithoutCourse" style="text-align: left">
          {{lection.id + ' - ' + lection.name + ' - ' + lection.pair}}
        </li>
      </ul>
    </ng-template>
  </p-table>
</ng-template>
<ng-template #create>
  <div class="container-fluid">
    <form [formGroup]="courseCreateForm">
      <h2>Create course</h2>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <input [(ngModel)]="name" formControlName="name" placeholder="max 45 characters">
        </div>
        <div class="col-md-3">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!courseCreateForm.controls['name'].valid&&courseCreateForm.controls['name'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="courseCreateForm.controls['name'].errors['maxlength']">Too much data</span>
            <span *ngIf="courseCreateForm.controls['name'].errors['required']">Name is required field</span>
          </div>
        </div>
      </div>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <textarea formControlName="description" placeholder="max 100 characters"></textarea>
        </div>
        <div class="col-md-3">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!courseCreateForm.controls['description'].valid&&courseCreateForm.controls['description'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="courseCreateForm.controls['description'].errors['maxlength']">Too much data</span>
          </div>
        </div>
      </div>
      <div class="row create-row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <br/>
          <button class="btn btn-default" type="submit" [disabled]="!courseCreateForm.valid" (click)="createCourse()">create</button>
          <button class="btn btn-warning" (click)="goToRegistry();">Back</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
